<html>
    <head>
        <title>Protected Page</title>
    </head>
    <body>
        <h1>Protected Page</h1>
        <p>Welcome to the protected page, <%= user.nickname %></p>
        <form action="/logout" method="post">
            <button type="submit">Cerrar Sesión</button>
        </form>
    </body>
</html>